.image {
    object-fit: cover;
    background-color: lightgrey; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 200px;
    height: 200px;
  }

  .disabled {
    filter: grayscale(100%);
  }
  
  .imageContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    min-height: 700px;
  }
  
  @media (max-width: 600px) {
    .image {
      width: 100px;
      height: 100px;
    }
    .imageContainer {
      grid-template-columns: repeat(3, 0.5fr); 
      grid-template-rows: repeat(6, 0.5fr);
    }
  }
  